#chatbot-container {
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
}

#chatbot-container .animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out forwards;
}

#chatbot-container .animate-fadeOut {
  animation: fadeOut 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(10px);
  }
}
